html, body {
    color: #777777;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/hotel-wallpaper.png);
    margin: 0;
}
header {
    overflow: auto;
    margin: 0 auto;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inset {
    width: 960px;
    margin: 0 auto;
}
.logoname {
    float: left;
    background: #4aaaa5;
    margin: 0 auto;
    color: #ffffff;
    padding: 10px;
}
.navigationlinks {
    float: right;
    margin: 0 auto;
    font-size: large;
    padding: 20px;    
}
a {
    color: #777777;
    text-decoration: none;
}
main {
    width: 960px;
    margin: auto;
    clear: both;
    background: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 30px;
}
.mainbio {
    width: 900px;
    margin: auto;
    margin-bottom: 30px; 
    overflow: auto; 
}
img {
    float: left;
    margin: 10 10 10 0;
}
.aboutme, .portfolio, .contact{
    color: #4aaaa5;
}
input, textarea{
    width: 890px;
    
}
form {
    font-size: large;
}
.submitbtn {
    color: #ffffff;
    background-color: #4aaaa5;
    width: auto;
    padding: 10px;
    margin: 0 auto;
    font-size: medium;
}
footer {
    overflow: auto;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #666666;
    border-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 8px;
    text-align: center;
    color: #ffffff;
    font-size: small;
    position: sticky;
    width: 100%;
    clear: both;
}
.profbtnrow1, .profbtnrow2, .profbtnrow3 {
    float: none;
    clear: both;
    width: 100%;
}
.portfoliobutton {
    width: 250px;
    height: 200px;

}
.portbutton {
    position: relative;
    width: 250px;
    float: left;
    margin: 0 30px 30px 0;
}
.buttontext {
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 250px;
    padding: 10px 0 10px 0;
    font-size: medium;
    text-align: center;
    font-size: larger;
}
@media screen and (max-width: 980px) {
    .inset {
        width: 90%;
    }
    main {
        margin-left: 5%;
        width: 60%;
    }
    .mainbio, form {
        width: 90%;
    }
    .portfoliobutton, .portbutton, .buttontext {
        width: 250px;
        height: auto;
    }
    .buttontext {
        width: 250px;
        float: inherit;
    }
    input, textarea {
        width: 100%;
    }
    .portbuttonleft {
        float: left;
        
        margin: 0 0 20px 0;
    }
    .portbuttonright {
        float: right;
        
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width: 768px) {
    .inset {
        width: 90%;
    }
    main {
        margin-left: 5%;
        width: 90%;
    }
    .mainbio, form{
        width: 90%;
    }
    .portfoliobutton, .portbutton, .buttontext {
        width: 250px;
        height: auto;
    }
    .buttontext {
        width: 100%;
    }
    input, textarea {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    .inset {
        width: 100%;
    }
    .logoname, .navigationlinks {
        float: none;
        text-align: center;
    }
    main {
        margin-left: 5%;
        width: 90%;
    }
    .mainbio, form{
        width: 90%;
    }
    .portfoliobutton, .portbutton, .buttontext {
        width: 250px;
        height: auto;
        float: none;
        margin: auto;
        margin-bottom: 20px;
    }
    .buttontext {
        width: 100%;
    }
    input, textarea {
        width: 100%;
    }
}